Importing required libraries

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Loading the dataset

In [16]:
job_data = pd.read_csv('Data/Dataset.csv')

Displaying basic information about the dataset

In [17]:
print(job_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9355 entries, 0 to 9354
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           9355 non-null   int64
 1   job_title           9355 non-null   object
 2   job_category        9355 non-null   object
 3   salary_currency     9355 non-null   object
 4   salary              9355 non-null   int64
 5   salary_in_usd       9355 non-null   int64
 6   employee_residence  9355 non-null   object
 7   experience_level    9355 non-null   object
 8   employment_type     9355 non-null   object
 9   work_setting        9355 non-null   object
 10  company_location    9355 non-null   object
 11  company_size        9355 non-null   object
dtypes: int64(3), object(9)
memory usage: 877.2+ KB
None

In [18]:
print(job_data.head(10))

   work_year                    job_title                    job_category  \
0       2023         Data DevOps Engineer                Data Engineering
1       2023               Data Architect  Data Architecture and Modeling
2       2023               Data Architect  Data Architecture and Modeling
3       2023               Data Scientist       Data Science and Research
4       2023               Data Scientist       Data Science and Research
5       2023               Data Scientist       Data Science and Research
6       2023               Data Scientist       Data Science and Research
7       2023  Machine Learning Researcher         Machine Learning and AI
8       2023  Machine Learning Researcher         Machine Learning and AI
9       2023                Data Engineer                Data Engineering

  salary_currency  salary  salary_in_usd employee_residence experience_level  \
0             EUR   88000          95012            Germany        Mid-level
1             USD  186000         186000      United States           Senior
2             USD   81800          81800      United States           Senior
3             USD  212000         212000      United States           Senior
4             USD   93300          93300      United States           Senior
5             USD  130000         130000      United States           Senior
6             USD  100000         100000      United States           Senior
7             USD  224400         224400      United States        Mid-level
8             USD  138700         138700      United States        Mid-level
9             USD  210000         210000      United States        Executive

  employment_type work_setting company_location company_size
0       Full-time       Hybrid          Germany            L
1       Full-time    In-person    United States            M
2       Full-time    In-person    United States            M
3       Full-time    In-person    United States            M
4       Full-time    In-person    United States            M
5       Full-time       Remote    United States            M
6       Full-time       Remote    United States            M
7       Full-time    In-person    United States            M
8       Full-time    In-person    United States            M
9       Full-time       Remote    United States            M